@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fullPage";
@import "homepage";
@import "subscriptions";
@import url('//fonts.googleapis.com/css?family=Raleway');

.hidden {
    display: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

h1, h2 {
    text-align: center;
}

.debug_dump {
    position: fixed;
    margin-left: 70%;
    bottom: 0;
}

footer {
    height: 100px;
    color: white;
}

#fullPage {
    text-align: center;
}

body {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.js body {
    opacity: 1;
}

.homepage-container {
    display: table-cell;
    padding-top: 60px;
}

.footer-trigger {
    position: fixed;
    bottom: 0;
    right: 50px;
    background: rgb(245, 245, 245);
    display: table;
    padding: 15px;
    cursor: pointer;
    .glyphicon-chevron-up, .glyphicon-chevron-down {
        padding-left: 6px;
        top: 3px;
    }
}

footer {
    bottom: 0;
    display: none;
    height: 10%;
    width: 100%;
    color: #A3ABB6;
    background-color: rgb(245, 245, 245);
    position: fixed;
    .container {
        display: table;
    }
    .footer-menu {
        display: table-cell;
    }
    ul {
        text-align: center;
        list-style: none;
        padding: 8px;
        vertical-align: middle;
        li {
            padding: 10px;
            display: inline-block;
        }
    }
}
