@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullpage.js/jquery.fullPage";
@import "homepage";
@import "subscriptions";

.hidden {
    display: none;
}

body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 18px;
}

.debug_dump {
    position: fixed;
    margin-left: 70%;
    bottom: 0;
}

footer {
    height: 100px;
    color: white;
}

#fullPage {
    text-align: center;
}
