@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullpage.js/jquery.fullPage";
@import "homepage";
@import "subscriptions";
@import url(http://fonts.googleapis.com/css?family=Raleway);

.hidden {
    display: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.debug_dump {
    position: fixed;
    margin-left: 70%;
    bottom: 0;
}

footer {
    height: 100px;
    color: white;
}

#fullPage {
    text-align: center;
}
