// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-message {
    color: white;
    text-align: center;
    top: -60px;
}

video#bgVid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

.homepage-image {
    max-height: 100%;
    max-width: 100%;
}

.homepage-container {
    padding-top: 51px;
}