// Place all the styles related to the subscribe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question {
    margin: 0 auto;
    text-align: center;
}

#boxContent {
    h2 {
        padding-top: 20px;
    }
}

.e-liquid-bottle {
    text-align: center;
    img {
        padding: 10px;
    }
}

#subscriptionBox {
    padding: 10px;
}

#showMeTheMoney {
    margin: 0 auto;
    display: block;
}

#signUp {
    text-align: center;
}

.address {
    p {
        margin: 0;
    }
}

.subscription-summary {
    text-align: center;
}

#subscriptionEditForm {
    text-align: center;
}